<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit package</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontAwesome/css/all.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="post-blog-area">
<form action="{{pkg.pk}}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <section class="post-blog-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-post-left">
                    <div class="post-blog-input-box">
                        <input type="text" name="title" placeholder="Title" value="{{title}}" required>
                    </div>
                    <div class="post-blog-input-box">
                        <input type="text" name="dest" placeholder="Destination" value="{{dest}}" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post-blog-img">
                        {% if image %}
                        <img src="{{ image.url }}">
                        {% else %}
                        <img src="{{ image.image.url }}">
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="post-blog-change-photo">
                                <input type="file" name="image" id="file" accept="image/*">
                                <label class="post-blog-change-btn" for="file">
                                    Change
                                </label>
                                <button type="submit" name="preview" class="post-blog-preview-btn">Preview</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="post-blog-input-box edit-pack-height">
                        <div class="form-group">
                            <textarea class="form-control" name="text" cols="64" rows="8"
                                      placeholder="Write your package description" required>{{description}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 post-pack-right-sec">
                    <div class="post-blog-input-box">
                        <input type="number" name="cost" placeholder="Cost per head" value="{{cost}}" required>
                    </div>
                    <div class="post-blog-input-box">
                        <p>Start date</p>
                        <input type="date" name="start" value="{{start}}" required>
                    </div>
                    <div class="post-blog-input-box">
                        <p>End date</p>
                        <input type="date" name="end" value="{{end}}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="edit-blog-delete">
                        <button class="delete-btn" name="delete" type="submit" value="Submit">Delete</button>
                        <p>Delete action<br>can't be undone</p>
                    </div>
                </div>
                <div class="col-md-5 offset-2">
                    <div class="edit-blog-btns">
                        <a href="{% url 'profile' %}" class="discard-btn">Cancel</a>
                        <button class="create-btn" name="save" type="submit" value="Submit">Save</button>
                    </div>
                </div>
            </div>
            <div class="row edit-package-note">
                <p>Note: package can't be edited if it's currently booked by a number of users</p>
                {% if messages %}
                    {% for msg in messages %}
                    <div class="alert alert-info alert-section" data-closable="slide-out-right">
                        {{ msg|linebreaks }}
                        <button class="close" data-bs-dismiss="alert">
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
</form>


<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>
</html>


