{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<body class="packages-area">

        <section class="packages-consumer-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 package-consumer-header-img">
                        <img src="assets/img/blog_img.jpg" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12 packages-consumer-header-right">
                                <div class="row">
                                    <div class="packages-title">
                                        <h2>Sajek Valley</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="edit-review-hotel-details packages-font">
                                        <i class="fa-solid fa-hotel"></i>
                                        <p>Hotel somethinng</p>
                                        <p>5</p>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="edit-review-date packages-date-font">
                                        <i class="fa-solid fa-calendar"></i>
                                        <p>02/09/2022 - 03/09/2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="packages-consumer-cost-detail">
                                    <h5>4500 BDT</h5>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 


        <section>
            <div class="container package-consumers-booking-sec">
                <div class="package-consumers-booking">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Consumers</h5>
                        </div>
                    </div>
                    <div class="row package-consumers-booking-desc">
                        <div class="col-md-12 text-center no-bookings-icon">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <p>No bookings yet!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="section package-consumer-footer-sec">
            <div class="container package-consumers-booking">
                <div class="row">
                   <div class="col-md-6">
                        <h5>Consumers</h5>
                   </div>
                    <div class="col-md-6 consumer-footer-btn">
                        <a href="#">Send mail</a>
                    </div>
                </div>
                <div class="single-consumer-details">
                    <div class="row package-consumer-footer-desc">
                        <div class="col-md-4">
                            <img src="assets/img/user.jpg" alt="">
                            <p>Shadman Sakib</p>
                        </div>
                        <div class="col-md-5">
                            <i class="fa-solid fa-envelope"></i>
                            <p>shadmansakib77@gmail.com</p>
                        </div>
                        <div class="col-md-3">
                            <i class="fa-solid fa-phone"></i>
                            <p>01793788643</p>
                        </div>
                    </div>
                </div>
                <div class="single-consumer-details">
                    <div class="row package-consumer-footer-desc">
                        <div class="col-md-4">
                            <img src="assets/img/user.jpg" alt="">
                            <p>Shadman Sakib</p>
                        </div>
                        <div class="col-md-5">
                            <i class="fa-solid fa-envelope"></i>
                            <p>shadmansakib77@gmail.com</p>
                        </div>
                        <div class="col-md-3">
                            <i class="fa-solid fa-phone"></i>
                            <p>01793788643</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
</body>

{% endblock %}
