{% extends 'navbar.html' %}
{% load static %}


{% block content %}

<body class="user-profile-area">

    <section class="user-profile">
        <div class="container">
            <div class="row user-cont">
                <div class="col-md-8">
                    <div class="user-info">
                        <div class="user-profile-img">
                            <img src="{{ data.image.url }}">
                        </div>
                        <div class="user-profile-details">
                            <h2>{{data.name}}</h2>
                            <p><i class="fa-solid fa-envelope"></i> {{user.email}}</p>
                            <p><i class="fa-solid fa-phone"></i> {{data.phone}}, {{data.emergency_phone}}</p>
                            <p><i class="fa-solid fa-location-dot"></i> {{data.address}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="user-general-info">
                        <h3>General information</h3>
                        <p>NID: {{data.national_id}}</p>
                        <p>Age: {{data.age}}</p>
                        <p>Blood type: {{data.blood_type}}</p>
                        <div class="settings-icon">
                            <a href="/manage_traveler_profile/"><i class="fa-solid fa-gear"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="row bookings-cont">
                <div class="row">
                    {% if notifications %}
                    <div class="col-md-8">
                        <h5>Notification</h5>
                    </div>
                    <div class="col-md-4 text-align-right">
                        <a href="{% url 'clear_all' %}" class="current-booking-see-post-btn">Clear all</a>
                        <a href="{% url 'notifications' %}" class="current-booking-cancel-btn">See all</a>
                    </div>
                    {% else %}
                    <div class="col-md-10">
                        <h5>Notification</h5>
                    </div>
                    <div class="col-md-2 hotel-profile-see-all-btn-sec">
                        <a href="{% url 'notifications' %}" class="hotel-profile-see-all-btn">See all</a>
                    </div>
                    {% endif %}
                    {% if notifications %}
                    {% for x in notifications %}
                    <div class="single-booking-box">
                        <div class="row current-booking-body">
                            <div class="col-md-6">
                                <div class="user-profile-blog-desc">
                                    <p>{{ x.time }}</p>
                                    <p>{{ x.message }}</p>
                                </div>
                            </div>
                            <div class="col-md-4 offset-2">
                                <div class="current-booking-btns">
                                    <a href="{% url 'blog_post' x.key %}" class="current-booking-see-full-info-btn"
                                        target="_blank">View</a>
                                    <a href="{% url 'delete_msg' x.pk %}" class="current-booking-cancel-btn">X</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
    </section>


    <section>
        <div class="container">
            <div class="row bookings-cont">
                <div class="col-sm-3">
                    <h5>Current Bookings</h5>
                </div>
                {% for booking in bookings %}
                <div class="single-booking-box">
                    <div class="row current-booking-body">
                        <div class="col-md-6">
                            <div class="current-booking-desc">
                                <p>{{ booking.package.destination }}</p>
                                <p>{{ booking.package.author.name }}</p>
                                <p>{{ booking.package.start_date }} - {{ booking.package.end_date }}</p>
                            </div>
                        </div>
                        <div class="col-md-4 offset-2">
                            <div class="current-booking-btns">
                                <a href="{% url 'cancel_pkg' booking.package.pk %}"
                                    class="current-booking-cancel-btn">Cancel</a>
                                <a href="{% url 'pkg_info' booking.package.pk %}"
                                    class="current-booking-see-full-info-btn" target="_blank">See
                                    full info</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="offset-3 col-md-6 packages">
                    <i class="fa-regular fa-map"></i>
                    <p>No bookings yet!</p>
                    <a href="{% url 'pkg_list' %}" class="btn btn-primary">See packages</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="row bookings-cont">
                <div class="col-sm-3">
                    <h5>Travel History</h5>
                </div>
                {% if not completed %}
                <div class="offset-3 col-md-6 packages">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <p>No Travel records!</p>
                </div>
                {% else %}
                {% for x in completed %}
                <div class="single-booking-box">
                    <div class="row current-booking-body">
                        <div class="col-md-6">
                            <div class="traveler-travel-desc">
                                <p>{{ x.package.destination }}</p>
                                <p>{{ x.start_date }} - {{ x.end_date }}</p>
                            </div>
                        </div>
                        <div class="col-md-4 offset-2">
                            <div class="current-booking-btns">
                                <a href="{% url 'review' x.package.pk %}"
                                    class="current-booking-see-full-info-btn">Review</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="row bookings-cont">
                <div class="row">
                    <div class="col-md-9">
                        <h5>Blogs</h5>
                    </div>
                    {% if not blogs%}
                    <div class="col-md-12 packages">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <p>No Blog posted yet!</p>
                        <a href="../blogs/post_blog" type="submit" class="btn btn-primary">Post blog</a>
                    </div>
                    {% else %}
                    <div class="col-md-3 current-booking-see-post-btn-area ">
                        <a href="../blogs/post_blog" class="current-booking-see-post-btn">Post</a>
                    </div>
                    {% endif %}
                </div>
                {% for blog in blogs %}
                <div class="single-booking-box">
                    <div class="row current-booking-body">
                        <div class="col-md-6">
                            <div class="user-profile-blog-desc">
                                <p>{{ blog.title }}</p>
                                <p>{{ blog.destination }}</p>
                            </div>
                        </div>
                        <div class="col-md-4 offset-2">
                            <div class="current-booking-btns">
                                <a href="{% url 'blog_post' blog.pk %}" class="current-booking-see-full-info-btn"
                                    target="_blank">View</a>
                                <a href="{% url 'edit_blog' blog.pk %}" class="current-booking-cancel-btn">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <div class="text-center logout-btn">
        <button type="button" class="btn btn-primary text-center"><a href="/logout/">Logout</a></button>
    </div>

</body>
{% endblock %}